body{
  font-family: sans-serif;
  font-weight: normal;
  margin: 0;

}

header{
  display: table;
  width: 100%;
}


                                        /* INICIO LISTA MENU */
.logo_img{
margin-left: 10px;
margin-top: 5px;
height: 50px;
width: 250px;
float: left;
padding: 10px 0;
}

.menu_principal{
list-style: none;
}

nav{
  margin: 0;
  padding: 0;
  float: right;

}

nav ul{
  list-style-type: none;

}

nav li{
  display: inline-block;
  margin-left: 100px;
  padding-right: 70px;
  padding-top: 15px;
  position: relative;

}

nav a{
  color: #232625;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover{
  color: gray;

}

nav a::before{
  content: '';
  display: block;
  height: 5px;
  background-color: #555;
  position: absolute;
  top: 0px;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width: 100%;

}




                                    /* FIM LISTA MENU */
                                    /* Inicio site */
.parallax {
background-image: url('img/parallax_1.jpg');
height: 100%;
/* Efeito de Scroll*/
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax_2 {
background-image: url('img/parallax_2.jpg');
/* Ocupar todo espaço */
height: 100%;
/* Efeito de Scroll*/
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


			/* PAGINAS */
.parallax_3 {
background-image: url('img/parallax_3.jpg');
height: 100%;
/* Efeito de Scroll*/
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;

}

.parallax_4 {
background-image: url('img/parallax_4.jpg');
height: 100%;
/* Efeito de Scroll*/
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;

}

.parallax_5 {
background-image: url('img/parallax_5.jpg');
height: 100%;
/* Efeito de Scroll*/
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;

}

.parallax_6 {
background-image: url('img/parallax_6.jpg');
height: 100%;
/* Efeito de Scroll*/
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center; 
}

			/* FIM PAGINAS */

/*INICIO CARTOES DE NOTICIAS */




/*FIM CARTOES DE NOTICIAS */
.boxtexto{
height:300px;
font-size:36px;
background-color: #00cc66;
color: white;
text-align: center;
padding: 5px;
}

.btn_saibamais {
	background-color:#00cc66;
	border-radius:20px;
  border-color: white;
  border: 3px solid white;
	display:inline-block;
	color:white;
	font-size:19px;
	padding:15px 76px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
  position: absolute;
  left: 40%;
}
.btn_saibamais:hover {
	background-color:white;
  color: #00cc66;
}
.btn_saibamais:active {
	position:absolute;
}

/* PAGINAS */
.title {
    height: 100vh;
    padding: 2vw;
    font-size: 4vw;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
	color: white;
}
.title:first-of-type {
    text-transform: uppercase;
    font-size: 7vw;
}

.title_2 {
    height: 100vh;
    padding: 2vw;
    font-size: 2vw;
}
.title_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
	color: white;
}
.title_2:first-of-type {
    text-transform: uppercase;
    font-size: 2vw;
}

.boxtexto_2{
	font-size:16px;
	margin-left:30px;
	padding-right:30px;
}

.boxtexto_3{
	position:absolute;
	border: 3px solid white;
	top:150px;
	left:120px;
	height:80%;
	width:80%;
	background-color:#00cc66;
}

.art1_a{
	position:absolute;
	border: 1.5px solid white;
	top:50px;
	left:50px;
	height:200px;
	width:250px;
}

.art1_b{
	position:absolute;
	top:95px;
	left:325px;
	color:white;
}

.art2_a{
	position:absolute;
	border: 1.5px solid white;
	top:400px;
	left:50px;
	height:200px;
	width:250px;
}

.art2_b{
	position:absolute;
	top:450px;
	left:360px;
	color:white;
}
/* FIM PAGINAS */


                                  /* Footer */


footer {
  width: 100%;
  position: relative;
  height: auto;

}
footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: black;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;

}
.logo_footer{
  height:100px;
  height:100px;
  padding-left: 30px;
  padding-top: 30px;
}
footer p{
 color: black;
 font-family: inherit;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

footer .col ul li:hover {
  color: #ffffff;
}
